/* cart.css */

/* Định dạng container */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Định dạng phần tiêu đề */
h1, h2 {
    text-align: center;
}

/* Định dạng giỏ hàng */
.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

#total-price {
    font-size: 24px;
    font-weight: bold;
}

.btn-checkout {
    display: block;
    width: 100%;
    background-color: #8B4513;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.btn-checkout:hover {
    background-color: #7b3e14;
}
/* chinh hinh anh sao cho vua trang gio hang */
.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
