body {
    font-family: Arial, sans-serif;
    background-color: #f1f8e9; /* Màu nền nhẹ nhàng */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

.form-group {
    margin: 15px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50; /* Màu xanh lá cây */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Màu xanh đậm hơn khi hover */
}

#message {
    color: red; /* Màu đỏ cho thông báo lỗi */
    margin-top: 10px;
}

/* Common Header and Navbar Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
}

.header-container .logo img {
    height: 50px;
}

.header-container nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.header-container nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-container nav ul li a:hover {
    color: #FFC107;
}
